.form-container {
    background: linear-gradient(to bottom, #CA0000, #640000);
    padding: 20px;
    border-radius: 15px;
    max-width: 350px;
    margin: auto;
    color: white;
}

.title-text {
    font-size: 24px;
    color: #8C0000;
    margin: 0;
    font-family: Roboto;
    font-weight: 600;
    margin-bottom: 18px;
}

.form-group {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
    color: #8C0000;
}

.form-control {
    width: 100%;
    padding: 10px;
    border: 2px solid #8C0000;
    border-radius: 5px;
}

.btn-submit {
    background: linear-gradient(to right, #8C0000, #BC0000);
    color: white;
    border: none;
    padding: 15px;
    border-radius: 15px;
    width: 200px;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
    margin-top: 20px;
}

    .btn-submit:disabled {
        background: gray;
        cursor: not-allowed;
    }

    .btn-container {
        display: flex;
        justify-content: center;
    }