.form-container {
    max-width: 400px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.title-text {
    font-size: 24px;
    color: #8C0000;
    margin: 0;
    font-family: Roboto;
    font-weight: 600;
    margin-bottom: 18px;
}
.form-group {
    margin-bottom: 15px;
}

    .form-group label {
        font-weight: bold;
        color: #640000;
        display: block;
        margin-bottom: 5px;
    }

.form-control {
    width: 100%;
    padding: 8px;
    border: 1px solid #8C0000;
    border-radius: 5px;
    box-sizing: border-box;
}

.btn {
    padding: 12px 40px;
    border: none;
    border-radius: 14px;
    cursor: pointer;
    font-size: 16px;
    font-family: Roboto;
    font-weight: 500;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.2s ease-in-out;
    margin-top: 10px;
}

.btn-primary {
    background: linear-gradient(90deg, #8C0000, #BC0000);
    color: white;
    margin-left: 20px;
}

.btn-secondary {
    background-color: #E6E6E6;

    color: black;
}

.validation-message {
    color: red;
    font-size: 0.85em;
}

.btn-container {
    display: flex;
    justify-content: center;
}
