/* Nagłówek */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

}

    .header h1 {
        font-size: 24px;
        color: #8C0000;
        margin: 0;
        font-family: Roboto;
        font-weight: 600;
    }

/* Kontrolki */
.controls {
    display: flex;
    gap: 10px;
}

.refresh-button img {
    width: 30px;
    height: 30px;
    cursor: pointer;
}
.refresh-button {
    border: none;
    background-color: white;
}

.add-button {
    background: linear-gradient(90deg, #8C0000, #BC0000);
    color: white;
    padding: 8px 18px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    font-size: 18px;
    font-family: Roboto;
    font-weight: 500;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.2s ease-in-out;
}

/* Kontener zleceń */
.orders-container {
    display: flex;
    flex-direction: column;
    gap: 7px;
    max-width: 100%;
    margin: auto;
}

.button-image {
    width:14px;
    height:14px;
    margin-right: 6px;
    margin-bottom: 2px;
}

/* Karta zlecenia */
.order-card {
    display: flex;
    flex-direction: column;
    width: 100%;
    justify-content: space-between;
    align-items: start;
    border: 1px solid #ccc;
    border-radius: 12px;
    padding: 10px;
    box-shadow: 2px 3px 6px rgba(0, 0, 0, 0.2);
    background-color: white;
    border-color: white;
}

.order-details {
    width: 100%;
}

.details-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.driver-info{
    white-space: nowrap;
    font-weight: 600;
    color: red;
    justify-content: end;

}

.order-details h3 {
    margin: 0;
    font-size: 18px;
    color: #333;
}

.order-details p {
    margin: 4px 0;
    font-size: 14px;
    color: #555;
}

/* Akcje zlecenia */
.order-actions button {
    padding: 6px 12px;
    font-size: 12px;
    cursor: pointer;
    font-weight: 400;
    background: #BC0000;
}

.order-actions {
    align-self: center;
    display: flex;
    justify-content: center;
    padding: 4px;
    width: 100%;
    gap: 10px;
}

.details-button {
    background-color: #007BFF;
    color: white;
    border: none;
    width: 100px;
    border-radius: 8px;
}

.edit-button {
    background-color: #007BFF;
    color: white;
    border: none;
    width: 100px;
    border-radius: 8px;
}

.invoice-button {
    background-color: #28A745;
    color: white;
    border: none;
    width: 100px;
    border-radius: 8px;
}

.delete-button {
    background: red !important;
    color: white;
    border: none;
    width: 100px;
    border-radius: 8px;
}

/* Pokaż więcej */
.show-more {
    text-align: center;
    margin-top: 30px;
}

.show-more-button {
    background: linear-gradient(90deg, #8C0000, #BC0000);
    color: white;
    padding: 12px 40px;
    border: none;
    border-radius: 14px;
    cursor: pointer;
    font-size: 20px;
    font-family: Roboto;
    font-weight: 500;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.2s ease-in-out;
}

/* Spinner */
.loading-spinner img {
    width: 50px;
    height: 50px;
    display: block;
    margin: 0 auto;
}
