.background { /* Umożliwia pozycjonowanie względem okna przeglądarki */
    height: 100%; /* Wysokość równa wysokości viewportu */
    background: linear-gradient(90deg, #CA0000, #640000); /* Zmień kolor tła według potrzeb */
    position: fixed;
    top: 0;
    bottom: 0;
    left: 250px;
    right: 0;
    overflow-y: auto;
}

@media (max-width: 640px) {
    .background { /* Umożliwia pozycjonowanie względem okna przeglądarki */
        height: 100%; /* Wysokość równa wysokości viewportu */
        background: linear-gradient(180deg, #CA0000, #640000); /* Zmień kolor tła według potrzeb */
        position: fixed;
        top: 40px;
        bottom: 0;
        left: 0;
        right: 0;
        overflow-y: auto;
        z-index: -1;
    }
}

.form-card {
    background: white;
    padding: 15px;
    margin: 22px;
    border-radius: 20px;
    margin-bottom: 50px;
}

.button-container {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    width: 100%;
}

.title-text {
    padding: 26px;
    padding-bottom: 0px;
    font-weight: 500;
    font-size: 28px;
    color: white;
}

.section-title {
    color: #8C0000;
    font-family: Roboto;
    font-weight: 500;
    margin-top: 0.8rem;
    margin-bottom: 0.6rem;
    font-size: 20px;
}

.section {
    margin-left: 0.8rem;
    margin-right: 0.8rem;
}

.file-section {
    background-color: #fff;
    border: 1px solid #AA0101;
    padding: 10px;
    margin-bottom: 15px;
    border-radius: 10px;
}

.file-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: linear-gradient(to right, #8C0000, #BC0000);
    padding: 10px;
    border-radius: 8px;
    color: white;
    font-weight: bold;
}

.file-title {
    font-size: 16px;
}

.input-label {
    position: absolute;
    margin-left: 10px;
    margin-top: -13px;
    font-size: 14px;
    color: #8C0000;
    background-color: white;
    padding: 2px;
}

.horizontal-input-label {
    position: absolute;
    margin-left: 10px;
    margin-top: -13px;
    font-size: 14px;
    color: #8C0000;
    background-color: white;
    padding: 2px;
}

.form-control {
    background-color: red; 
}

.form-group {
    margin-bottom: 16px;
}

.horizontal-group-element {
    width: 100%;
}

.file-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
    border-bottom: 1px solid #AA0101;
}

    .file-item a {
        color: #0066cc;
        text-decoration: underline;
    }

.btn-upload {
    background-color: white;
    color: #8C0000;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

    .btn-upload:hover {
        background-color: #F2F2F2;
    }

.btn-danger {
    background-color: #FF0000;
    color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background 0.3s;
}

    .btn-danger:hover {
        background-color: #CC0000;
    }

.btn-submit {
    background: linear-gradient(90deg, #8C0000, #BC0000);
    color: white;
    padding: 12px 40px;
    border: none;
    border-radius: 14px;
    cursor: pointer;
    font-size: 20px;
    font-family: Roboto;
    font-weight: 500;
    box-shadow: 2px 4px 6px rgba(0, 0, 0, 0.2);
    transition: box-shadow 0.2s ease-in-out;
    width: 180px;
    
}

    .btn-submit:hover {
        background: linear-gradient(to right, #BC0000, #8C0000);
    }


.horizontal-group {
    display: flex;
    justify-content: space-between; /* Rozdziela elementy równomiernie z zachowaniem odstępu na końcach */
    margin-bottom: 16px; /* Odstęp poniżej grupy */
}








.file-upload-container {
    display: flex;
    align-items: center;
    background: linear-gradient(0deg, #8C0000, #BC0000);
    padding: 5px 10px;
    border-radius: 7px;
}

.file-label {
    color: white;
    font-weight: bold;
    margin-right: auto;
}

.file-upload-btn {
    padding: 3px 14px;
    background-color: white;
    color: black;
    font-size: 14px;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: inline-block;
    position: relative;
    overflow: hidden;
}
.file-list {
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    margin-top: -2px;
    padding: 5px;
    border: 2px solid #AA0101;
    border-radius: 5px;
    background-color: white;
}

.file-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    font-size: 14px;
}

    .file-item a {
        color: blue;
        text-decoration: underline;
        flex-grow: 1;
        margin-right: 20px;
        align-items: start;
        text-align: left;
    }

.delete-btn {
    background-color: red;
    color: white;
    border: none;
    padding: 3px 12px;
    border-radius: 14px;
    cursor: pointer;
    font-size: 14px;
    font-weight: 500;
}

.download-btn {
    background: none;
    border: none;
    color: blue;
    text-decoration: underline;
    cursor: pointer;
    font-size: inherit;
    font-family: inherit;
    padding: 0;
}

    .download-btn:hover {
        color: darkblue;
    }

    .custom-error {
        color: red;
    }
