@inherits LayoutComponentBase
@inject NavigationManager Navigation
@inject ILocalStorageService LocalStorage
@using Blazored.Toast.Configuration

<CascadingBlazoredModal>
    <div class="page">
        @if (!IsLoginPage)
        {
            <div class="sidebar">
                <NavMenu />
            </div>
        }

        <main>
            <BlazoredToasts Position="ToastPosition.TopRight" Timeout="5" />
            <article class="content px-4">
                @Body
            </article>
        </main>
    </div>
</CascadingBlazoredModal>

@code {
    private bool IsLoginPage => Navigation.Uri.Contains("/logowanie", StringComparison.OrdinalIgnoreCase);
    protected override async Task OnInitializedAsync()
    {
        await StorePreviousUrl();
    }

    private async Task StorePreviousUrl()
    {
        await LocalStorage.SetItemAsync("previousPage", Navigation.Uri);
    }

    public async Task NavigateBack()
    {
        var previousUrl = await LocalStorage.GetItemAsync<string>("previousPage");
        Navigation.NavigateTo(previousUrl ?? "/");
    }
}

