@using PotoDocs.Blazor.Services
<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href=""><img src="Images/logo_grey.png"/></a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Strona główna
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="zlecenie/edycja">
                <span class="bi bi-file-earmark-plus-nav-menu" aria-hidden="true"></span> Nowe zlecenie
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="zlecenia">
                <span class="bi bi bi-grid-fill-nav-menu" aria-hidden="true"></span> Wszystkie zlecenia
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="pobieranie">
                <span class="bi bi-file-earmark-arrow-down-nav-menu" aria-hidden="true"></span> Pobieranie
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="kierowcy">
                <span class="bi bi-person-wheelchair-nav-menu" aria-hidden="true"></span> Kierowcy
            </NavLink>
        </div>
        <div class="mt-auto">
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="ustawienia">
                    <span class="bi bi-gear-fill-nav-menu" aria-hidden="true"></span> Ustawienia
                </NavLink>
            </div>
            <div class="nav-item px-3">
                <NavLink class="nav-link" href="logowanie" @onclick="Logout">
                    <span class="bi bi-box-arrow-right-nav-menu" aria-hidden="true"></span> Wyloguj
                </NavLink>
            </div>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }

    [Inject] private IAuthService AuthService { get; set; }
    [Inject] private NavigationManager Navigation { get; set; }

    private async Task Logout()
    {
        await AuthService.Logout();
        Navigation.NavigateTo("/logowanie", true);
    }
}